In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('anova_lab_data.csv')

In [3]:
df

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [7]:
df.columns=[h.lower().replace(' ','_') for h in df.columns]

In [8]:
df

   power_  etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [13]:
# selecting rolls where power = 200w
df_power_200w=df.loc[df['power_'] == '200 W']

In [14]:
# checking for the mean
df_power_200w.mean()

<ipython-input-14-65f981448497>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_power_200w.mean()

etching_rate    8.318
dtype: float64

In [15]:
# selecting rolls where power = 160w
df_power_160w=df.loc[df['power_'] == '160 W']

In [16]:
# checking for the mean
df_power_160w.mean()

<ipython-input-16-c64a51e782f0>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_power_160w.mean()

etching_rate    5.792
dtype: float64

In [17]:
# selecting rolls where power = 180w
df_power_180w=df.loc[df['power_'] == '180 W']

In [18]:
# checking for the mean
df_power_180w.mean()

<ipython-input-18-a3eb9b5b8dbc>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_power_180w.mean()

etching_rate    6.238
dtype: float64

- mean of 200w != mean of 160w != mean of 180w

### the null hypothesis simply implies if the mean of all our tested power range are all the same

### the alternative hypothesis simply implies the mean of the power range are not equal

In [4]:
import statsmodels.api as sm

C:\Users\TESTER\anaconda3\envs\ironhacklado\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
C:\Users\TESTER\anaconda3\envs\ironhacklado\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

In [5]:
from statsmodels.formula.api import ols

In [10]:
model=ols('etching_rate ~ C(power_)', data=df).fit()

In [11]:
results_tables=sm.stats.anova_lm(model)

In [12]:
results_tables

             df     sum_sq   mean_sq          F    PR(>F)
C(power_)   2.0  18.176653  9.088327  36.878955  0.000008
Residual   12.0   2.957240  0.246437        NaN       NaN

- we have a p_value less than 0.0001 so we reject null hypothesis and say HA because the etching rate depends on the difference in power

In [ ]:
# f value compare to the f value table
#reject HO which says difference in power does matter