# Strokes data -bring in and explore

In [29]:
!ls

Strokes-initial.ipynb strokes_data.csv

In [3]:
import pandas as pd

In [4]:
strokes=pd.read_csv('strokes_data.csv')
# define data frame, read the csv file

In [5]:
strokes

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [6]:
# whats in the data - how many nulls are there 
strokes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [7]:
strokes.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,43400.000000,43400.000000,43400.000000,43400.000000,43400.000000,41938.000000,43400.000000
mean,36326.142350,42.217894,0.093571,0.047512,104.482750,28.605038,0.018041
std,21072.134879,22.519649,0.291235,0.212733,43.111751,7.770020,0.133103
min,1.000000,0.080000,0.000000,0.000000,55.000000,10.100000,0.000000
25%,18038.500000,24.000000,0.000000,0.000000,77.540000,23.200000,0.000000
50%,36351.500000,44.000000,0.000000,0.000000,91.580000,27.700000,0.000000
75%,54514.250000,60.000000,0.000000,0.000000,112.070000,32.900000,0.000000
max,72943.000000,82.000000,1.000000,1.000000,291.050000,97.600000,1.000000

In [9]:
strokes['gender'].value_counts()

Female    25665
Male      17724
Other        11
Name: gender, dtype: int64

In [11]:
strokes['ever_married'].unique()

array(['No', 'Yes'], dtype=object)

In [13]:
# identify duplicates 
strokes.duplicated().value_counts()

False    43400
dtype: int64

In [15]:
strokes.duplicated().sum()

0

In [16]:
pwd # check current working directory

'/Users/siandavies/Documents/working/April22'

In [26]:
# cd .. moves up a directory

/Users/siandavies/Documents/GitHub

In [28]:
# move to nominated directory cd working/April22

/Users/siandavies/Documents/working/April22

## changing data types

- lets change the ID from a INT to a STR (Object)
- lets change the stroke column from INT to BOOLEAN

- df['DataFrame Column'] = df['DataFrame Column'].astype(str) # top result on grepper

In [30]:
strokes.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [31]:
strokes['id']=strokes['id'].astype('str')

In [32]:
strokes['stroke']=strokes['stroke'].astype('bool')

#python dictionaries 
() in pandas - bunch of variables you can use! lets look up the documentation if we have time
[] list 
{} dictionary
key + value 

key = sian 
value = 38 
value = red trousers 
value = spain 

No: false 
Yes: true
    
strokes = strokes.replace({'No':False, 'Yes':True})

In [33]:
strokes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  object
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  bool
dtypes: bool(1), float64(3), int64(2), object(6)
memory usage: 3.7+ MB

In [ ]:
# strokes[['heart_disease','smoking_status']] # 2 sq brackets for multiple columns - list within

In [36]:
strokes['ever_married'] = strokes['ever_married'].replace({'No':False, 'Yes':True})

In [37]:
strokes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  object
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  bool
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  bool
dtypes: bool(2), float64(3), int64(2), object(5)
memory usage: 3.4+ MB

## split data and rejoin

create 3 data frames from original data frame 
- df1= rows 1- 1000             :1000   exclusive on top end, inclusive on bottom end of range 
- df2= rows 1001- 3500      1000:3500
- df3= the rest             3500:

In [41]:
strokes.head(2) # index always begins at zero

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,False,children,Rural,95.12,18.0,NaN,False
1,30468,Male,58.0,1,0,True,Private,Urban,87.96,39.2,never smoked,False

In [49]:
strokes[1000:1000]

Empty DataFrame
Columns: [id, gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []

In [52]:
# iloc # index location 
df1 = strokes.iloc[:1000]
#or df1=strokes[:1000]
df2 = strokes.iloc[1000:3500]
df3 = strokes.iloc[3500:]

In [53]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1000 non-null   object
 1   gender             1000 non-null   object
 2   age                1000 non-null   float64
 3   hypertension       1000 non-null   int64
 4   heart_disease      1000 non-null   int64
 5   ever_married       1000 non-null   bool
 6   work_type          1000 non-null   object
 7   Residence_type     1000 non-null   object
 8   avg_glucose_level  1000 non-null   float64
 9   bmi                973 non-null    float64
 10  smoking_status     711 non-null    object
 11  stroke             1000 non-null   bool
dtypes: bool(2), float64(3), int64(2), object(5)
memory usage: 80.2+ KB

In [56]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 1000 to 3499
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2500 non-null   object
 1   gender             2500 non-null   object
 2   age                2500 non-null   float64
 3   hypertension       2500 non-null   int64
 4   heart_disease      2500 non-null   int64
 5   ever_married       2500 non-null   bool
 6   work_type          2500 non-null   object
 7   Residence_type     2500 non-null   object
 8   avg_glucose_level  2500 non-null   float64
 9   bmi                2391 non-null   float64
 10  smoking_status     1729 non-null   object
 11  stroke             2500 non-null   bool
dtypes: bool(2), float64(3), int64(2), object(5)
memory usage: 200.3+ KB

In [57]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 1000 to 3499
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2500 non-null   object
 1   gender             2500 non-null   object
 2   age                2500 non-null   float64
 3   hypertension       2500 non-null   int64
 4   heart_disease      2500 non-null   int64
 5   ever_married       2500 non-null   bool
 6   work_type          2500 non-null   object
 7   Residence_type     2500 non-null   object
 8   avg_glucose_level  2500 non-null   float64
 9   bmi                2391 non-null   float64
 10  smoking_status     1729 non-null   object
 11  stroke             2500 non-null   bool
dtypes: bool(2), float64(3), int64(2), object(5)
memory usage: 200.3+ KB

In [60]:
#df2.head() # reset index on df2 and df 3
#df.reset_index(drop=True, inplace=True)# useful commands for index reset !
df2.reset_index(drop=True, inplace=True)
df3.reset_index(drop=True, inplace=True)

In [66]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39900 entries, 0 to 39899
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 39900 non-null  object
 1   gender             39900 non-null  object
 2   age                39900 non-null  float64
 3   hypertension       39900 non-null  int64
 4   heart_disease      39900 non-null  int64
 5   ever_married       39900 non-null  bool
 6   work_type          39900 non-null  object
 7   Residence_type     39900 non-null  object
 8   avg_glucose_level  39900 non-null  float64
 9   bmi                38574 non-null  float64
 10  smoking_status     27668 non-null  object
 11  stroke             39900 non-null  bool
dtypes: bool(2), float64(3), int64(2), object(5)
memory usage: 3.1+ MB

In [63]:
df3.shape

(39900, 12)

In [64]:
df1.shape

(1000, 12)

In [65]:
df2.shape

(2500, 12)

In [72]:
#concat - look up pandas docs for concat 
# result = pd.concat([df1, df2], axis=0)
df_all=pd.concat([df3,df2,df1],axis=0)

In [73]:
df_all.shape

(43400, 12)

In [75]:
df_all.reset_index(drop=True, inplace=True)

In [76]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  object
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  bool
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  bool
dtypes: bool(2), float64(3), int64(2), object(5)
memory usage: 3.4+ MB