In [1]:
import pandas as pd

In [10]:
strokes= pd.read_csv('strokes_data.csv')

In [12]:
strokes

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

##value counts for the exacts number of values in the column or series

In [20]:
strokes['gender'].value_counts()

Female    25665
Male      17724
Other        11
Name: gender, dtype: int64

In [15]:
strokes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [ ]:
##to bring out a particular column or series

In [19]:
strokes['gender']

0          Male
1          Male
2        Female
3        Female
4          Male
          ...
43395    Female
43396    Female
43397    Female
43398      Male
43399    Female
Name: gender, Length: 43400, dtype: object

In [26]:
##to know the min or max of a particular series

In [29]:
strokes['age'].max()

82.0

In [30]:
#or

In [32]:
strokes['age']

0         3.0
1        58.0
2         8.0
3        70.0
4        14.0
         ...
43395    10.0
43396    56.0
43397    82.0
43398    40.0
43399    82.0
Name: age, Length: 43400, dtype: float64

In [34]:
ages.max()

58

In [35]:
##checking for head or tail

In [36]:
strokes.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [37]:
strokes.tail()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

##number of index for a particular series

In [38]:
strokes['gender'].shape

(43400,)

In [39]:
#to bring out a couple of series from a data frame

In [40]:
gender_work_type=strokes[['gender', 'work_type']]

In [41]:
gender_work_type

       gender     work_type
0        Male      children
1        Male       Private
2      Female       Private
3      Female       Private
4        Male  Never_worked
...       ...           ...
43395  Female      children
43396  Female      Govt_job
43397  Female       Private
43398    Male       Private
43399  Female       Private

[43400 rows x 2 columns]

In [42]:
##to select a section of the dataframe

In [43]:
above_30=strokes[strokes['age']> 30]

In [44]:
above_30

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
5,32257,Female,47.0,0,0,Yes,Private,Urban,210.95,50.1,NaN,0
6,52800,Female,52.0,0,0,Yes,Private,Urban,77.59,17.7,formerly smoked,0
7,41413,Female,75.0,0,1,Yes,Self-employed,Rural,243.53,27.0,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43394,52380,Male,47.0,0,0,No,Govt_job,Urban,68.52,25.2,formerly smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [45]:
#the command strokes[strokes['age']> 30] only checks for the booleans statements

In [46]:
[strokes['age']> 30]

[0        False
 1         True
 2        False
 3         True
 4        False
          ...
 43395    False
 43396     True
 43397     True
 43398     True
 43399     True
 Name: age, Length: 43400, dtype: bool]

In [48]:
above_30.shape

(29164, 12)

In [49]:
##to bring out a specific section out of a dataframe

In [51]:
adult_work_type=strokes.loc[strokes['age']>30, 'work_type']

In [52]:
adult_work_type

1              Private
3              Private
5              Private
6              Private
7        Self-employed
             ...
43394         Govt_job
43396         Govt_job
43397          Private
43398          Private
43399          Private
Name: work_type, Length: 29164, dtype: object

##to bring a small section from dataframe

In [53]:
strokes.iloc[10:20, 2:5]

     age  hypertension  heart_disease
10  79.0             0              0
11  79.0             0              1
12  37.0             0              0
13  37.0             0              0
14  40.0             0              0
15  35.0             0              0
16  20.0             0              0
17  42.0             0              0
18  44.0             0              0
19  79.0             0              1

##to check fro duplicates

In [54]:
strokes.duplicated().value_counts()

False    43400
dtype: int64

In [55]:
strokes.duplicated().sum()

0

In [56]:
pwd

'C:\\Users\\TESTER\\Downloads'